div.row {
    padding: 8px 0;
}
.logo {
    // background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_2x.png);
    // width:109px;
    // height:40px;
}

.hamburger {
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
}

.search {
    width: 82%;
    height: 40px;
    margin: 0 4px;
    border: none;
    font-size: large;
}

.search-container {
    border-radius: 10px;
    height: 46px;
}

.search, .search-container {
    background: #e9ebeb;
}

.search-icon {
    margin: 0 15px 0;
}

div.search-container > input + svg {
    margin-bottom: 5px;
}

.hamburger,
.search-icon,
div.search-container > input + svg,
div.search-container + div.col svg  {
    height: 24px;
    width: 24px;
}

div.search-container + div.col > svg {
    margin-right: 16px ;
}

div.search-container + div.col {
    padding-top: 8px;
}

