div {
    border-bottom: 1px solid #f2f5f5cc;
}

.unread {
    font-weight: bold;
}

.date {
    float: right;
}

a {
    text-decoration: none;
}

.actions {
    filter: opacity(0.5);
    margin-right: 15px;
}

.sender{
    padding-left: 15px;
}